body {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  color: #44454a;
  line-height: 2;
}

body {
  margin: 0;
  padding: 0;
}

P {
text-align: center;
font-size: 230%;
font-family: 'Julius Sans One', sans-serif;
margin: 0 auto;
padding-top: 4%;
width: 90%;   
}

.author {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 140%;
}
